.Shuffler {
  margin: 0 auto;
  width: 80%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
}

.inputFriend {
  display: inline;
  margin: 0 5px;
}
.submitBtn {
  width: 400px;
  height: 90px;
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  color: white;
  outline: none;
  border-radius: 20px;
  border: 2px solid rgb(244, 41, 95);
  border-bottom: 2px solid rgba(255,255,255,0.4);
  background-color: rgb(244, 41, 95);
  box-shadow: 0px 8px  rgb(198, 0, 49);
}

.submitBtn:hover {
  margin-top: 2px;
  box-shadow: 0px 6px  rgb(198, 0, 49);
}

.submitBtn:active {
  margin-top: 8px;
  box-shadow: 0px 0px  rgb(198, 0, 49);
}

/* Steps Buttons */
#prevStep, 
#nextStep {
  position: fixed;
  top: 50%;
}

#prevStep {
  left: 20px;
}

#nextStep {
  right: 20px;
}